<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>项目首页</h1>
    <h2>{{msg}}</h2>
    <h4><a href="/">网站首页</a></h4>
    <h4><a href="{% url 'users:user_login' %}">用户登录</a></h4>
    <h4><a href="{% url 'users:register' %}">用户注册</a></h4>
    <h4><a href="{% url 'users:user_logout' %}">用户退出</a></h4>
    <h4><a href="{% url 'users:userinfo' %}">查看用户资料</a></h4>
    <h4><a href="{% url 'store:add1' %}">用户开店</a></h4>
    <h4><a href="{% url 'store:list' %}">查看自己所有店铺</a></h4>
</body>
</html>