<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情页面</title>
</head>
<body>
    <h1>商品详情页面</h1>
    <div class="goods">
        <div class="good-img">
            <img src="/{{goods.goodsimage_set.all.first.path}}" alt="图片有问题" >
        </div>
        <div class="goods-name">
            {{goods.name}}
        </div>
        <div class="goods-intro">
            {{goods.intro}}
        </div>
        <div class="goods-price">
            单价{{goods.price}}  |  销量{{goods.count}}
        </div>
        <div class="goods-sale">
            <a href="#">加入购物车</a>
            <a href="#">立即购买</a>
        </div>
    </div>
</body>
</html>