<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
    <h1>用户注册</h1>
    <h2>{{msg}}==={{error_code}}</h2>
    <form action="{% url 'users:register' %}" method="POST" >
        {% csrf_token %}
        用户名：<input type="text" name="username"><br>
        用户昵称：<input type="text" name="nickname"><br>
        用户密码：<input type="password" name="password"><br>
        确认密码：<input type="password" name="confirmpwd"><br>
        <img src="/users/createImage/" alt="图片有问题" onclick="refresh_check_code(this)"><br>
        <input type="text" name="ac"><br>
        <input type="submit" class="login-btn" value="注册">
    </form>

<script>
     function refresh_check_code(node) {
     // src 后面加问号会自动刷新验证码 img 的 src
    // get 请求方式缓存处理
     node.src = '/users/createImage/?search=' + Math.random();
     }
</script>
</body>
</html>