<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
</head>
<body>
    <table>
        <tr>
            <td>用户头像</td>
            <td><img src="/{{req.user.userinfo.headers}}" alt="头像有问题"></td>
        </tr>
        <tr>
            <td>用户名称</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td>用户昵称</td>
            <td>{{user.userinfo.nickname}}</td>
        </tr>
        <tr>
            <td>用户电话</td>
            <td>{{user.userinfo.phone}}</td>
        </tr>
    </table>
</body>
</html>